{{>layout/header}}
<h1>URL-Shortener</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/page/create-url" class="btn btn-primary" role="button">Create short URL</a>
            <a href="/page/url-list" class="btn btn-outline-info" role="button">My URL list</a>
            <a href="/api/v1/logout" class="btn btn-info active" role="button">Logout</a>
        </div>
    </div>
</div>
<br>
{{>layout/footer}}