{{>layout/header}}

<h1>My URL list</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/" class="btn btn-outline-info" role="button">Home</a>
        </div>
    </div>
</div>
<br>
<table class="table table-hover">
    <thead class="thead-strong"></thead>
    <tr>
        <th>Origin</th>
        <th>Short</th>
        <th>Visitors</th>
        <th>Created time</th>
        <th>Remove</th>
    </tr>
    <tbody id="tbody">


    <tr>
        <td>www.naver.com</td>
        <td>Bv2t7vU</td>
        <td>17</td>
        <td>2023-04-02 18:26:03</td>
        <td><a href="/keywords/delete/1">remove</a></td>
    </tr>
    <tr>
        <td>www.google.com</td>
        <td>AvKtGGQ</td>
        <td>382</td>
        <td>2023-04-03 10:11:01</td>
        <td><a href="/keywords/delete/1">remove</a></td>
    </tr>

    </tbody>
</table>
{{>layout/footer}}