{{>layout/header}}

<h1>My URL list</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/" class="btn btn-outline-info" role="button">Home</a>
        </div>
    </div>
</div>
<br>
<table class="table table-hover">
    <thead class="thead-strong"></thead>
    <tr>
        <th>Origin</th>
        <th>Short</th>
        <th>Visitors</th>
        <th>Created time</th>
        <th>Delete</th>
    </tr>
    <tbody id="tbody">
{{#urls}}
    <tr>
        <td>{{origin}}</td>
        <td><a href="/page/url-list/{{shortUrl}}">{{shortUrl}}</a></td>
        <td>{{visitors}}</td>
        <td>{{created}}</td>
        <td><button type="button" class="btn btn-link btn-delete" value="{{shortUrl}}">delete</button></td>
    </tr>
{{/urls}}

    </tbody>
</table>
{{>layout/footer}}